* {
    box-sizing: border-box;  
  }
  
  ul {
      list-style-type: none;
  }
  
  .link-list-items {
      display: inline;
      padding: 4%;
      font-size: 16px;
      cursor: pointer;
  }
  
  div.row {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
  }
  
  .grid {
      width: 100% !important;
      margin-left: 0 !important;
  }
  
  #nav-wrapper {
      width: 100vw;
      height: 75px;
  }
  
  #nav {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 75px;
      color: white;
      z-index: 4;
      background-color: #4A4A4A;
      text-align: center;
  }
  
  #get-to-know-button {
      position: relative;
      width: 30%;
      text-align: center;
      margin-left: 35%;
      margin-bottom: 15vh;
      font-size: 20px;
      border-radius: 30px;
      color: white;
      background-color: #4F8DD9;
      -o-transition:all .4s ease-out;
      -ms-transition:all .4s ease-out;
      -moz-transition:all .4s ease-out; 
      -webkit-transition:all .4s ease-out;
      /* ...and now override with proper CSS property */
      transition:all .2s ease-out;
  }
  
  #get-to-know-button:hover {
      background-color: #3B69A1; 
  }
  
  #get-to-know-button:focus {
      background-color: #3B69A1; 
  }
  
  #get-to-know-button:active {
      background-color: #3B69A1; 
  }

  .toggleMenuButtonMobile {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.00) !important;
    top: 5px;
    left: 5px;
    z-index: 5;
}

.toggleMenuButtonMobile > .icon {
    color: white !important;
}
  
  button > a {
      color: white;
  }
  
  button > a:hover {
      color: white;
  }
  
  button > a:focus {
      color: white;
  }
  
  button > a:active {
      color: white;
  }
  
  #home-content {
      color: white;
      text-align: center;
      margin-top: 30px;
      padding: 25px;
  }
  
  #profile-pic {
      width: 250px;
      border-radius: 125px;
  }
  
  .navlinks {
      color: #BFBFBF;
      font-size: 18px;
      -o-transition:color .4s ease-out;
      -ms-transition:color .4s ease-out;
      -moz-transition:color .4s ease-out; 
      -webkit-transition:color .4s ease-out;
      /* ...and now override with proper CSS property */
      transition:color .2s ease-out;
  }
  
  .navlinks:hover {
      color: white;
  }
  
  .navlinks:focus{
      color: white;
  }
  
  .navlinks:active {
      color: white;
  }
  
  .active {
      color: #5DA6FF;
  }
  
  #main-link-list {
      padding-left: 0 !important;
      padding-top: 27px;
      overflow: hidden;
      margin: 0 auto;
  }
  
  #name{
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 90px;
  }
  
  #subtitle {
      font-size: 40px;
      font-family: "Raleway";
      font-weight: lighter;
  }
  
  #home, #main, #sticky-container, #myStory, #portfolio, #resume, #skills, #contact {
      width: 100%;
  }
  
  #background-video-container {
      width: 100%;
  }
  
  .fullscreen-bg_video {
      position: fixed;
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      z-index: -100;
      overflow: hidden;
  }
  
  #myStory {
      color: white;
      height: auto;
  }
  
  .grid {
      margin-top: 0 !important;
  }
  
  .myStoryCenterCol {
      text-align: center;
  }
  
  #myStory-title-border {
      width: 100%;
      margin: 0 auto;
      border: 10px solid white;
      background: rgba(0, 0, 0, 0.00);
  }
  
  #myStory-title {
      font-size: 120px;
      font-family: "Montserrat";
      letter-spacing: 5px;
      color: #4F8DD9;  
      background: linear-gradient(to right, #4F8DD9, #5DD7FF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .myStoryGrid, .myStoryLeftCol, .myStoryCenterCol, .myStoryRightCol {
      height: 100%;
      padding: 0 !important;
  }
  
  #myStoryLeftColDiv {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
      height: 100%;
  }
  
  #myStoryRightColDiv {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
      height: 100%;
  }
  
  #myStoryCenterBackgroundDiv {
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
  }
  
  #portfolio-title {
      font-family: "Montserrat";
      color: white;
      font-size: 35px;
      margin-top: 40px;
      margin-bottom: 15px;
      text-align: center;
  }
  
  #portfolio-subtitle {
      font-family: "Raleway";
      color: lightgray;
      font-size: 20px;
      margin-bottom: 40px;
      text-align: center;
  }
  
  .line-break {
      padding: 1px;
      background-color: #4F8DD9;
      border: none;
  }
  
  #resume {
      background-color: #4F8DD9;
      color: white;
      height: auto;
  }
  
  #portfolio {
      background-color: #141414;
      height: auto;
      padding-bottom: 20px;
  }
  
  #skills {
      background-color: #737373;
      background-image: url("../../images/brick-wall-dark.png");
      height: auto;
  }
  
  #contact {
      background-color: #292929;
      height: 100vh;
  }
  
  #para1, #para2 {
      color: white;
      font-family: "Raleway";
      text-shadow: 1px 1px #000000;
      font-size: 30px;
      font-weight: bold;
      text-align: left;
  }
  
  #para1 {
      padding-top: 50px;
  }
  
  #para2 {
      padding-bottom: 70px;
  }
  
  .portfolio-grid {
      margin-top: 20px !important;
  }
  
  .projectTitleGridTop {
      margin-top: 60px !important;
  }
  
  .projectTitleGridBottom {
      margin-top: 20px !important;
  }
  
  .projectPicHolder {
      width: 100%;
      margin-bottom: 20px !important;
      -o-transition:all .4s ease-out;
      -ms-transition:all .4s ease-out;
      -moz-transition:all .4s ease-out; 
      -webkit-transition:all .4s ease-out;
  }
  
  .projectPicHolder:hover {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
  }
  
  .projectPicHolder:focus {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
  }
  
  .projectPicHolder:active {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
  }
  
  
  .projectDescription {
      color: white;
      font-family: "Raleway";
      font-size: 16px;
  }
  
  .projectTitles {
      color: white;
      font-family: "Montserrat";
      text-align: center;
      font-size: 30px;
      -o-transition:color .4s ease-out;
      -ms-transition:color .4s ease-out;
      -moz-transition:color .4s ease-out; 
      -webkit-transition:color .4s ease-out;
      /* ...and now override with proper CSS property */
      transition:color .2s ease-out;
  }
  
  .projectDetails {
      cursor: pointer;
  }
  
  .projectTitles:hover {
      color: #4F8DD9;
  }
  
  .projectTitles:focus {
      color: #4F8DD9;
  }
  
  .projectTitles:active {
      color: #4F8DD9;
  }
  
  .resume-title-col {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
  }
  
  .resumeLeftCol, .resumeRightCol, .resumeCenterCol {
      padding: 0 !important;
      height: 100%;
  }
  
  .resumeGrid {
      height: 100%;
  }
  
  .resumeEntryRow {
      margin-bottom: 20px !important;
  }
  
  #resume-title {
      text-align: center;
      font-family: "Montserrat";
      font-size: 35px;
  }
  
  #resume-subtitle {
      font-family: "Raleway";
      color: lightgray;
      font-size: 20px;
      margin-bottom: 40px;
      text-align: center;
  }
  
  .resumeDates {
      background-color: #4A4A4A !important;
      text-align: center;
      padding: 10px !important;
      font-size: 18px !important;
      font-family: "Raleway";
  }
  
  #apolloDate {
      font-size: 16px !important;
  }
  
  .resumeEntryTitle {
      margin-bottom: 0px;
  }
  
  .resumeEntryDescription {
      font-size: 18px;
      color: #4A4A4A;
      font-style: italic;
  }
  
  .section-title-col {
      padding-bottom: 40px !important;
  }
  
  .section-title {
      font-family: "Montserrat";
      font-size: 30px;
  }
  .accordian {
      background-color: lightgray;
      padding: 10px;
      font-family: "Raleway";
      font-size: 20px;
      border-radius: 10px;
      line-height: 1em;
      exclusive: false;
  }
  .accordianTitle {
      padding: 0 !important;
  }
  
  .accordianContent {
      color: black;
      font-size: 20px;
  }
  
  .lastCenterColResume {
      margin-bottom: 75px !important;
  }
  
  #skills-title {
      text-align: center;
      font-family: "Montserrat";
      font-size: 35px;
      color: white;
      padding-top: 40px !important;
  }
  
  #skills-subtitle {
      font-family: "Raleway";
      color: lightgray;
      font-size: 20px;
      margin-bottom: 40px;
      text-align: center;
  }
  
  .skillsLeftCol, skillsCenterCol, .skillsRightCol, .skillsMainRow, .skillsGrid {
      height: 100%
  }
  
  .skillsGridBottom {
      padding-top: 60px !important;
  }
  
  .techList {
      padding-left: 0 !important;
  }
  
  .skillsCatTitle {
      font-size: 30px;
      text-align: center;
      color: white;
      padding-bottom: 30px;
      text-decoration: underline;
  }
  
  #projectManagementTitle {
      padding-bottom: 0px;
  }
  
  .frontEndTech, .backEndTech, .projectManagementTech {
      text-align: center !important;
      font-family: "Raleway"
  }
  
  .frontEndTech {
      padding-bottom: 50px;
  }
  
  .techImg {
      width: 75px;
  }
  
  #materialize {
      height: 75px;
  }
  
  .techs {
      font-size: 35px;
      color: white;
      padding: 15px;
  }
  
  .techName {
      padding: 15px;
      padding-bottom: 15px;
  }
  
  #contact-title {
      text-align: center;
      font-family: "Montserrat";
      font-size: 35px;
      color: white;
      padding-top: 70px !important;
  }
  
  #contact-subtitle {
      font-family: "Raleway";
      color: lightgray;
      font-size: 20px;
      margin-bottom: 40px;
      text-align: center;
  }
  
  .contactLeftCol, .contactCenterCol, .contactRightCol, .contactMainRow, .contactGrid {
      height: 100%
  }
  
  #contact-info {
      text-align: center;
  }
  
  #email {
      font-family: "Raleway";
      font-size: 20px;
      color: white;
  }
  
  #emailContainer {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 60px;
  }
  
  #email:hover {
      color: lightgray;
  }
  
  #email:focus {
      color: lightgray;
  }
  
  #email:active {
      color: lightgray;
  }
  
  .socialMediaLogos {
      width: 125px;
      padding: 20px;
  }
  
  #socialMediaLinks {
      text-align: center;
      width: 100%;
  }
  
  #copyright {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin-top: 210px;
      text-align: center;
  }
  
  #copyright-text {
      font-family: "Raleway";
      font-size: 12px;
      color: white;
  }

  #menuHolder {
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 5;
    height: 100vh;
    width: 150px;
    -ms-transform: translate(150px); /* IE 9 */
    -webkit-transform: translate(150px); /* Safari */
    transform: translate(150px); /* Standard syntax */
    transition: transform 1s;
    -ms-transition: -ms-transform 1s;
    -webkit-transition: -webkit-transform 1s; 
}

div.ui.vertical.menu {
    width: 150px !important;
}

  
  @media only screen and (max-width: 1050px) and (orientation: portrait) {
      #home-content {
          margin-top: 250px;
      }
  
      #name {
          margin-top: 100px;
      }
      #subtitle {
          margin-top: 30px;
      }
  
      #get-to-know-button {
          width: 40%;
          margin-left: 30%;
          margin-top: 30px;
      }
  
      .resumeDates {
          font-size: 14px !important;
      }
  
      .resumeButtonCol {
          padding-left: 0 !important;
      }
  
      .resumeDateCol {
          padding-left: 0 !important;
      }
  
      .techs {
          font-size: 25px;
          padding: 0;
          padding-bottom: 10px;
      }
  
      #apolloDate {
          font-size: 14px !important;
      }
  }
  
  @media only screen and (max-width: 1050px) and (orientation: landscape) {
      .resumeDates {
          font-size: 14px !important;
      }
  
      #apolloDate {
          font-size: 14px !important;
      }
  
      #get-to-know-button {
          width: 50%;
          margin-left: 25%;
          margin-top: 30px;
      }

    #myStory-title {
        font-size: 100px;
    }
  
      .resumeButtonCol {
          padding-left: 0 !important;
      }
  
      .resumeDateCol {
          padding-left: 0 !important;
      }

      .techs {
          font-size: 25px;
      }
  }

  @media only screen and (max-width: 850px) and (orientation: landscape) {
    #profile-pic {
      width: 150px;
    }

    #home-content {
        margin-top: 0px;
        padding-top: 10px !important;
    }

    #name {
        font-size: 45px;
        margin-top: 5px !important;
    }

    #subtitle {
        font-size: 18px;
        margin-top: 0px !important;
    }

    #get-to-know-button {
        width: 50%;
        margin-top: 0px;
    }

    #myStory-title {
        font-size: 70px;
    }

    #para1, #para2 {
        font-size: 22px;
    }

    #para1 {
        padding-top: 20px;
    }

    #portfolio-title, #resume-title, #skills-title, #contact-title {
        font-size: 30px;
    }

    #portfolio-subtitle, #resume-subtitle, #skills-subtitle, #contact-subtitle{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .projectDescription {
        margin-top: 30px;
    }

    .projectTitles {
        padding-top: 20px;
    }

    .resume-title-col {
        padding-bottom: 20px !important;
    }

    .resumeEntryTitle {
        font-size: 18px;
    }

    .resumeEntrySubtitle, .resumeEntryDescription {
        font-size: 16px;
    }

    .resumeDates, #apolloDate {
        font-size: 12px !important;
    }

    .skillsCatTitle {
        font-size: 20px;
        padding-bottom: 30px !important;
    }

    #projectManagementTitle {
        padding-bottom: 25px !important;
    }

    .techs {
        font-size: 18px;
        padding: 5px;
    }

    .techImg {
        width: 50px;
        max-height: 50px;
    }

    #contact-title {
        padding-top: 30px !important;
    }

    #materialize {
        max-height: 50px;
    }

    .socialMediaLogos {
        width: 100px;
        padding-bottom: 0;
    }

    #emailContainer {
        margin-top: 10px;
    }

    #email {
        font-size: 18px;
    }

    #copyright {
        bottom: 15px;
    }
}
  
  @media only screen and (max-width: 768px) and (orientation: portrait) {
      
      .navlinks {
          font-size: 16px;
      }
  
      #home-content {
          margin-top: 90px;
      }
  
      #name {
          margin-top: 50px;
      }
  
      #get-to-know-button {
          width: 50%;
          margin-left: 25%;
          margin-top: 30px;
      }
  
      #myStory-title {
          font-size: 100px;
      }
  
      #para1, #para2 {
          font-size: 22px;
      }
  
      .techImg {
          width: 50px;
      }

      #materialize {
        max-height: 50px;
    }

      .section-title {
          text-align: center;
      }
  
      .resumeButtonCol {
          padding-left: 0 !important;
      }
  
      .resumeDateCol {
          padding-left: 0 !important;
      }
  
      .resumeDates {
          font-size: 13px !important;
          padding: 8px !important;
          margin-bottom: 10px !important;
      }
  
      #apolloDate {
          font-size: 13px !important;
          padding: 8px !important;
      }

      .accordian {
        margin-bottom: 15px !important;
    }
  }

  @media only screen and (max-width: 768px) and (orientation: landscape) {
    #profile-pic {
      width: 150px;
    }

    #home-content {
        margin-top: 10px;
    }

    #name {
        font-size: 50px;
        margin-top: 5px !important;
    }

    #subtitle {
        font-size: 20px;
        margin-top: 5px !important;
    }

    #get-to-know-button {
        width: 50%;
    }

    #myStory-title {
        font-size: 70px;
    }

    #para1, #para2 {
        font-size: 22px;
    }

    #portfolio-title, #resume-title, #skills-title, #contact-title {
        font-size: 30px;
    }

    #portfolio-subtitle, #resume-subtitle, #skills-subtitle, #contact-subtitle{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .projectImg {
        width: 50%;
        float: left;
        margin-right: 10px;
        margin-top: 20px;
    }

    .projectDescription {
        margin-top: 30px;
    }

    .projectTitles {
        padding-top: 20px;
    }

    .section-title {
        text-align: center;
    }   

    .resumeEntryTitle {
        font-size: 18px;
    }

    .resumeEntrySubtitle, .resumeEntryDescription {
        font-size: 16px;
    }

    .resumeDates, #apolloDate {
        font-size: 16px !important;
        margin-bottom: 10px !important;
    }

    .accordian {
        margin-bottom: 15px !important;
    }

    .skillsCatTitle {
        font-size: 20px;
    }

    .techs {
        font-size: 20px;
        padding: 10px;
    }

    #heroku, #mongo {
        margin-bottom: 40px;
    }

    .techImg {
        width: 50px;
        max-height: 50px;
    }

    #materialize {
        max-height: 50px;
    }

    .socialMediaLogos {
        width: 100px;
        padding-bottom: 0;
    }

    #emailContainer {
        margin-top: 0;
    }

    #email {
        font-size: 18px;
    }

    #copyright {
        bottom: 15px;
    }
}

@media only screen and (max-width: 680px) and (orientation: landscape) {
    #profile-pic {
      width: 130px;
    }

    #name {
        font-size: 40px;
        margin-top: 5px !important;
    }

    #get-to-know-button {
        font-size: 18px;
    }

    #myStory-title {
        font-size: 60px;
    }

    #para1, #para2 {
        font-size: 20px;
    }

    #para1 {
        padding-top: 25px;
    }

    .resumeEntryTitle {
        font-size: 18px;
    }

    .resumeEntrySubtitle, .resumeEntryDescription {
        font-size: 16px;
    }
    
    .techs {
        font-size: 20px;
        padding: 10px;
    }


    #bash {
        margin-top: 30px;
    }

    #heroku, #mongo {
        margin-bottom: 40px;
    }

    #materialize {
        max-height: 40px;
    }

    .techImg {
        width: 40px;
        max-height: 40px;
    }

    .socialMediaLogos {
        width: 90px;
        padding-bottom: 0;
    }

    #email {
        font-size: 16px;
    }

    #copyright-text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 580px) and (orientation: landscape) {
    #profile-pic {
      width: 120px;
      margin-top: 0;
    }

    #name {
        font-size: 35px;
        margin-top: 5px !important;
    }

    #get-to-know-button {
        font-size: 18px;
        width: 75%;
        margin-left: 12% !important;
        margin-top: 10px;
    }

    #home-content {
        margin-top: 0;
        padding-bottom: 0px;
        padding-top: 10px;
    }

    #myStory-title {
        font-size: 50px;
    }

    #para1, #para2 {
        font-size: 18px;
    }

    #portfolio-title, #resume-title, #skills-title, #contact-title {
        font-size: 25px;
        margin-bottom: 0 !important;
    }

    #portfolio-subtitle, #resume-subtitle, #skills-subtitle, #contact-subtitle{
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 10px !important;
    }

    .projectTitles {
        font-size: 25px;
    }

    .section-title {
        font-size: 25px;
    }

    .resumeEntryTitle {
        font-size: 18px;
    }

    .resumeEntrySubtitle, .resumeEntryDescription {
        font-size: 16px;
    }

    #skills-title {
        padding-top: 20px !important;
    }

    .skillsGridBottom {
        padding-top: 30px !important;
    }

    .skillsCatTitle {
        font-size: 18px;
    }

    .techs {
        font-size: 15px;
        padding: 5px;
    }

    #materialize {
        max-height: 35px;
    }

    .techImg {
        width: 35px;
        max-height: 35px;
    }

    #contact-title {
        padding-top: 30px !important;;
    }

    #emailContainer {
        padding-top: 10px;
    }
    #email {
        font-size: 14px;
    }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
    #name {
        font-size: 35px;
        margin-top: 50px;
    }

    #subtitle {
        font-size: 20px;
        margin-top: 30px;
    }

    #get-to-know-button {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    #myStory-title {
        font-size: 60px;
    }

    #para1, #para2 {
        font-size: 18px;
    }

    #portfolio-title, #resume-title, #skills-title, #contact-title {
        font-size: 25px;
    }

    #portfolio-subtitle, #resume-subtitle, #skills-subtitle, #contact-subtitle {
        font-size: 18px;
    }

    .projectTitles, .section-title {
        font-size: 25px;
    }

    .resumeDates, #apolloDate {
        font-size: 16px !important;
    }

    .skillsCatTitle {
        font-size: 22px;
    }

    .techs {
        font-size: 20px;
    }

    #bash {
        margin-top: 30px;
    }

    #heroku, #mongo {
        margin-bottom: 40px;
    }

    .socialMediaLogos {
        width: 100px;
    }

    #email {
        font-size: 15px;
    }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
    #name {
        font-size: 35px;
        margin-top: 30px;
    }

    #subtitle {
        font-size: 20px;
        margin-top: 20px;
    }

    #home-content {
        margin-top: 60px;
    }

    #myStory-title {
        font-size: 50px;
    }

    #get-to-know-button {
        margin-top: 0;
    }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
    #home-content {
        margin-top: 20px;
    }

    #profile-pic {
        width: 180px;
    }
}

@media only screen and (max-width: 330px) and (orientation: portrait) {
    #myStory-title {
        font-size: 45px;
    }

    #email {
        font-size: 13px;
    }
}
